@model IEnumerable<negWalMart.Models.ModelEstado>
@{
    ViewBag.Title = "Lista dos Estados Cadastrados";
}
<h2>Estados</h2>
<table>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>País</th>
        <th>Região</th>
        <th>Sigla</th>
        <th>Ação</th>
    </tr>

    @foreach (negWalMart.Models.ModelEstado uf in Model)
    {
        <tr id="row-@uf.Codigo">
            <td>@uf.Codigo</td>
            <td>@uf.Nome</td>
            <td>@uf.Pais</td>
            <td>@uf.Regiao</td>
            <td>@uf.Sigla</td>
            <td>@Html.ActionLink("Editar", "Editar", new { Estado = uf.Codigo }) | <a href="javascript:void(0);" onclick="postaAJAX(this, '/Estado/Delete/');"  data-id="@uf.Codigo">Excluir</a></td>
        </tr>
    }
    <tr>
        <td colspan="6">@Html.ActionLink("Adicionar novo Estado...", "Adicionar") </td>
    </tr>
</table>

<div id="progresso" style="display: none;">
    <img src="../../Content/Images/progress.gif" />
</div>
